extends layout

block content
  div
    if user
      div
        a(href="/logout") #{user.username} をログアウト
      - var hasWordGroups = wordGroups.length > 0
      if hasWordGroups
        h5 グループ新規作成フォーム
        form(method="post", action="/wordgroups/new")
          div
            h5 グループ名
            input(type="text" name="wordGroupName")
          button(type="submit") グループを登録する

        h3 単語グループ一覧
        
        table.table
          tr
            th 単語グループ名
          each wordGroup in wordGroups
            tr
              td
                a(href=`/wordgroups/${wordGroup.wordGroupId}`) #{wordGroup.wordGroupName}
      else
        h5 まずは単語グループを新規作成してください。
        form(method="post", action="/wordgroups/firstgroup")
          button(type="submit") 単語グループ「未分類」を新規作成
    else
      div.jumbotron.my-3
        h1 BEN2 の単語帳 Web アプリ
        p ポートフォリオサイト : https://ben2suzuka.github.io
        p BEN2 の Twitter : https://twitter.com/BEN2suzuka
        p このサービスでは、Twitter アカウントのユーザー ID によって利用者を識別します。
      div
        a(href="/login")
          button(type="button" class="btn btn-primary btn-lg btn-block" id="login-btn") Twitter でログイン

